<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--configFragment 선언-->
<th:block th:fragment="configFragment">

	<link rel="stylesheet" href="/bootstrap.min.css">
	<link rel="stylesheet" href="/common.css">
	<!-- Content Page의 CSS fragment 삽입 -->
	<th:block layout:fragment="css"></th:block>
	<script type="text/javascript" src="/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/popper.min.js"></script>
	<script type="text/javascript" src="/bootstrap.min.js"></script>
	<script type="text/javascript" src="/fontawesome.min.js"></script>
	<script type="text/javascript" src="/common.js"></script>
	<!-- Content Page의 script fragment 삽입 -->
	<th:block layout:fragment="script"></th:block>

</th:block>
</html>
