<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/empty-layout">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css"/>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script type="text/javascript">
		function fnJoin() {
			var userId = $('#userId');
			var userPassword = $('#userPassword');
			if (userId.val().trim() === '') {
				alert("Press id");
				userId.focus();
				return;
			}
			if (userPassword.val().trim() === '') {
				alert("Press password");
				userPassword.focus();
				return;
			}

			$.ajax({
				url : '/process/join',
				data : $('#joinForm').serialize(),
				method: 'POST',
				beforeSend : function () {

				},
				success : function (data) {
					console.log(data);
					if (data.result) {
						window.location.href = '/';
					} else {
						alert(data.message);
					}
				},
				complete : function () {

				}
			})
		}
	</script>
</th:block>

<div layout:fragment="content">

	<div class="card shadow mb-3">
		<div class="card-body">
			<form name="joinForm" id="joinForm">
				<h5>Join</h5>
				<label for="userId">ID</label><input type="text" name="userId" id="userId">
				<br>
				<label for="userPassword">Password</label><input type="password" name="userPassword" id="userPassword">
				<br>
				<label for="nickname">Nickname</label><input type="text" name="nickname" id="nickname">

			</form>
		</div>
		<div class="card-footer">
			<a href="#" onclick="fnJoin();return false;">Join</a><a style="margin-left: 10px" href="/login">Login</a>
		</div>
	</div>
</div>
</html>
