<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default-layout">

<!-- main.html 고유 CSS 추가 -->
<th:block layout:fragment="css"/>

<!-- main.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script type="text/javascript">
		var isPostEnd = false; // Post is ended status
		var isPostIng = false; // Post is ing status
		$(document).ready(function () {
			getBrdPage($('#pageNo').val());

			$(window).scroll(function () {
				if ((parseInt($(window).scrollTop())) > parseInt($(document).height() - $(window).height()) - 300) {
					getBrdPage($('#pageNo').val());
				}
			});

			$('#insertBtn').on('click', function () {
				oEditors.getById.content.exec("UPDATE_CONTENTS_FIELD", []);

				if ($('#content').val() == "" || $('#content').val() == "<p><br></p>") {
					alert("Fill the textarea.");
					return;
				}
				putPost();
			});
		});

		function getBrdPage(pageNo) {
			var searchText = $('#searchText').val();
			if (!isPostEnd && !isPostIng) {
				isPostIng = true;
				$.ajax({
					url: '/brd/get/' + searchText + "/" + pageNo,
					method: 'GET',
					dataType: "json",
					beforeSend: function () {
					},
					success: function (data) {
						console.log(data);
						$('#pageNo').val(parseInt(pageNo) + 1);
						if (data.code == 0) {
							var list = data.data.selectBrdByPaging;

							for (var i = 0; i < list.length; i++) {
								var html = '';
								html += '	<div class="card shadow mb-3">';
								html += '	<div class="card-body">';
								html += '	<div class="d-flex">';
								html += '	<div class="flex-shrink-1">';
								html += '	<img src="https://picsum.photos/200/200?random" class="rounded-circle float-left mr-2" width="60">';
								html += '	</div>';
								html += '	<div class="flex-grow-1">';
								html += '	<h5><a href="#">' + list[i].nickname;
								html += '<small class="text-muted">@' + list[i].userId + '</small>';
								html += '</a></h5>';
								html += list[i].content;
								html += '</div>';
								html += '</div>';
								html += '</div>';
								html += '</div>';
								$('#postList').append(html);
							}

							if (list.length < 10) {
								isPostEnd = true;
							}
						} else {
							isPostEnd = true;
							if (pageNo == 1) {
								$('#postList').append("<p>There was no result set.</p>");
							}
						}
					},
					complete: function () {
						isPostIng = false;
					}
				});
			}
		}

		function putPost() {
			if (!isPostIng) {
				var postingForm = $('#postingForm');
				isPostIng = true;
				$.ajax({
					url: '/brd/put',
					method: 'PUT',
					dataType: "json",
					data : postingForm.serialize(),
					beforeSend: function () {
						isPostIng = true;
					},
					success: function (data) {
						console.log(data);
						if (data.code == 0) {
							var targetPost = data.data.targetPost;
							var html = '';
							html += '	<div class="card shadow mb-3">';
							html += '	<div class="card-body">';
							html += '	<div class="d-flex">';
							html += '	<div class="flex-shrink-1">';
							html += '	<img src="https://picsum.photos/200/200?random" class="rounded-circle float-left mr-2" width="60">';
							html += '	</div>';
							html += '	<div class="flex-grow-1">';
							html += '	<h5><a href="#">' + targetPost.nickname;
							html += '<small class="text-muted">@' + targetPost.userId + '</small>';
							html += '</a></h5>';
							html += targetPost.content;
							html += '</div>';
							html += '</div>';
							html += '</div>';
							html += '</div>';
							$('#writeArea').after(html);
						}
					},
					complete: function () {
						isPostIng = false;
					}
				});
			}
		}
	</script>
</th:block>

<div layout:fragment="content" id="writeArea">
	<!--/*@thymesVar id="searchText" type="java.lang.String"*/-->
	<span class="search-title" th:text="${searchText + ' result is...'}"></span>

	<form name="pagingForm" id="pagingForm">
		<input type="hidden" name="pageNo" id="pageNo" value="1"/>
	</form>
</div>
</html>
