<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.l2jong.se.dao.BrdDao">
	<insert id="insertBrd" parameterType="com.l2jong.se.vo.BrdVO">
		INSERT INTO `SE_TB_BRD`
		( `NO`
		, `VIEW_TYPE`
		, `CONTENT`
		, `DEL_YN`
		, `WRITE_USER_NO`
		, `CREATED_AT`)
		VALUES (BRD_SEQ.NEXTVAL, #{viewType}, #{content}, 'N',
				#{writeUserNo}, FORMATDATETIME(NOW(), 'yyyyMMddHHmmss'))
	</insert>

	<select id="selectBrdByPaging" parameterType="com.l2jong.se.vo.BrdVO" resultType="com.l2jong.se.vo.BrdVO">
		<![CDATA[
		SELECT ZZ.*,
			   B.USER_ID,
			   B.NICKNAME,
			   C.`CONTENT`,
			   C.`CREATED_AT`
		FROM (
				 SELECT /*+ INDEX_DESC(Z IDX_BRD_1) */ ROWNUM AS RNUM, Z.*
				 FROM (
						  SELECT `NO`,
								 `WRITE_USER_NO`
						  FROM `SE_TB_BRD`
				   		  	]]>
							<if test="content != null">
								WHERE CONTENT LIKE '%' || #{content} '%'
							</if>
							<![CDATA[
						  ORDER BY `NO` DESC
					  ) Z
				 WHERE ROWNUM <= #{endRowNum}
			 ) ZZ
				 INNER JOIN `SE_TB_USR` B ON ZZ.WRITE_USER_NO = B.NO
				 INNER JOIN `SE_TB_BRD` C ON ZZ.NO = C.NO
		WHERE RNUM >= #{startRowNum}
		]]>
	</select>
</mapper>
