<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.l2jong.se.dao.UsrDao">
	<select id="getCount" resultType="int">
		SELECT 199
		FROM DUAL
	</select>

	<insert id="insertUsr" parameterType="com.l2jong.se.vo.UsrVO">
		INSERT INTO `SE_TB_USR`
			(`NO`, `USER_ID`, `NICKNAME`, `CREATED_AT`)
		VALUES (USR_SEQ.NEXTVAL, #{userId}, #{nickname}, NOW())
	</insert>

	<select id="selectUsrByPaging" parameterType="com.l2jong.se.vo.UsrVO" resultType="com.l2jong.se.vo.UsrVO">
		<![CDATA[
		SELECT *
		FROM (
				 SELECT /*+ INDEX_DESC(Z IDX_USR_1) */ ROWNUM AS RNUM, Z.*
				 FROM (
						  SELECT `NO`, `USER_ID`, `NICKNAME`, `CREATED_AT`
						  FROM `SE_TB_USR`
						  ORDER BY `NO` DESC
					  ) Z
				 WHERE ROWNUM <= #{endRowNum}
			 )
		WHERE RNUM >= #{startRowNum}
		]]>
	</select>
</mapper>
